.about-bgImg-container{
     @include bgImg(50vh,$pathname1);
     display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
    .about__bio-image{
        width: 100%;
        margin-bottom: 6rem; 
        h2{
            font-size: 2rem;
            color: $secondary-color;
        }
        p{
            text-align: center; 
            padding: 2rem;
            width: 60%;
            margin: auto;
            
        }
    }
}
.about{
flex: 1;
 width: 60%;
 margin: auto; 
    &__container{
        margin: auto;
        margin: 2rem auto;
    }
    .about__job{
        margin: 1.5rem;
        background-color: lighten($primary-color,10%);
        padding: 1rem 2rem;
        border-bottom: 5px solid $secondary-color;
        border-radius: 10px;
    h4,h3{
        margin: 1rem 0;
        color: $secondary-color;
    }     
    }
}
