//colors
$primary-color:#272727;
$secondary-color:#DCCF59;
$text-color:#FDFCF5;
$hover-color:#7F7C32;

//fonts
$font-family:'Poppins', sans-serif;
$title-font-family:'Josefin Sans', sans-serif;;

$pathname1: 'img/bg-img.jpg';